// 連結社群
.icons-fixed{
  z-index: 9999;
}
// banner
.banner-bg{
    padding-top: 185px;
    padding-bottom: 185px;
    background-size: cover;
    background-position: 0 100%;
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/photo-1612157777902-5382bc6e864b.jpeg);
}
.card{
  &-feel{
    height: 420px;
    object-fit: cover;
  }
  &-teach{
    height: 628px;
    object-fit: cover;
  }
  &-ml-off {
    margin-left: -95px;
  }
  &-void{
    height: 444px;
    object-fit: cover;
  }
  &-voidnobody{
    height: 207px;
    object-fit: cover;
  }
  &-custom {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin: 0 auto;
    max-width: 100%;
  }
  &-img-course{
    height: 445px;
    object-fit: cover;
  }
  &-img-choose{
    height: 320px;
    object-fit: cover;
  }
  &-user{
    width: 60px;
    height: 60px;
  }
}
@include media-breakpoint-down(lg) {
  .card{
    &-feel {
      width: 216px;
      height: 252px;
    }
    &-toptext{
      width: 450px;
    }
    &-void{
      width: 210px;
      height: 266px;
    }
    &-voidnobody{
      width: 90px;
      height: 117px;
    }
    &-custom {
      max-width: 720px;
    }
    &-img-course{
      height: 150px;
    }
    &-img-choose{
      height: 100%;
    }
    &-dir{
      flex-direction: row;
    }
    &-dir div{
      width: 50%;
    }
  }
}
@include media-breakpoint-down(md) {
  .card{
    &-feel {
      width: 350px;
      height: 420px;
    }
    &-toptext{
      width: 345px;
    }
    &-ml-off {
      margin-left: 0;
    }
    &-void,&-voidnobody{
      width: 165px;
      height: 210px;
    }
    &-custom {
      max-width: 540px;
    }
    &-img-course{
      height: 165px;
    }
    &-img-choose{
      height: 320px;
    }
    &-dir{
      flex-direction: column;
    }
    &-dir div{
      width: 100%;
    }
  }
}
// 精心設計、課程多元
.wrapper-course {
  flex-wrap: nowrap;
  @media (max-width: 992px) {
    flex-wrap: wrap;
  }
}
.slide-course {
  width: 100%;
}
@media (max-width: 992px) {
  .slide-course  {
    width: 48%;
    margin: 0.5rem 1%;
  }
}
@media (min-width: 576px) {
  .position-sm-absolute {
    position: absolute;
  }
  .card-course-title {
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
  }
}
// 聽聽他們怎麼說
.swiper-body {
  width: 100%;
  height: 100%;
}
