@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500&display=swap');
body {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    line-height: 24px;
}
.logo {
  width: 96px;
  height: 31px;
}
.input-content{
  width: 350px;
  height: 45px;
}