.card{
    &-course-list{
        width: 920px;
        height: 568px;
    }
    &-notice{
        width: 579px;
    }
}
.swiper-list {
    width: 100%;
    height: 100%;
}
@include media-breakpoint-down(md) {
    .card{
        &-notice{
            width: 514px;
        }
    }
}
@include media-breakpoint-down(sm) {
    .card{
        &-notice{
            width: 305px;
        }
    }
}
